<html>
    <mat-card id="player-status-box-card">
        <mat-card-title 
        style="text-align: center;
        font-family: Source Han Sans JP, serif;
        font-weight: bolder;">
        PLAYER STATUS
        </mat-card-title>
        <mat-divider></mat-divider>
        <!--<mat-card-content>NICKNAME: </mat-card-content>
        <mat-divider></mat-divider>-->
        <mat-card-content>E-MAIL:</mat-card-content>
        <mat-divider style="font-weight: bold;"></mat-divider>
        <mat-card-content></mat-card-content>
        <mat-card-content style="text-align: center;">MATCHES</mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-grid-list cols="2" rowHeight="20px" id="match-status-grid-list">
            <mat-grid-tile>PLAYED</mat-grid-tile>
            <mat-grid-tile>WON</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
            <mat-grid-tile>4</mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>

</html>