#player-status-box {
    margin: 100px 0 0 -1150px;
    height: 400px;
    width: 400px;
  }
  #player-status-box-card {
    background: linear-gradient(to bottom, #efefbb
    100%, #d4d3dd 100%);
    color: #283048;
    font-weight: bold;
    vertical-align: middle;
    font-family: Source Han Sans JP, serif;
  }
  #match-status-grid-list .mat-grid-tile{
    height: 20px;
    color: #283048; 
  }