section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 1169px;
 
  }
  
  .example-button-row {
    display: table-cell;
    width: 1500px;
    position: fixed;
    top: 0;
  }
  
  .example-button-row .mat-button-base {
    margin: 55px 33px 55px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  .mat-button{
    color: #EFC862;
    font-family: Source Han Sans JP;
    font-size: 17px;

  }
  
  .header-container{
    display: inline-block;
  }

  

  .image_1{

    margin-left: -1160px;
    margin-top: -100px;
   
  }

  .button-login{
    margin-left: -1000px;
    margin-top: 0px;
  }

  .ship-label{
    margin-left: 1156px;
    margin-top: 240px;
    display: inline-block;
}

.Line_1_bd{
  margin-left: -730.5px;
  margin-top: 0.5px;
  display: inline-block;
}

.Line_9_bhk{
  margin-left: -1165px;
  margin-top: 275.5px;
  display: inline-block;
}
.VersionLayer_OPTIONAL_bd{
  margin-left: 100px;
  margin-top: 100.5px;
  display: inline-block;
}

.mat-tab-group{
  margin-left: -1100px;
  margin-top: 350px;
  
  font-family: PT Sans;
  font-size: 25;

}

 /*
    Styles for tab label
  */
  
  ::ng-deep .mat-tab-label {
   /* min-width: 50px !important;
    padding: 50px;
    background-color: transparent;
    */
    font-size: 25px;
    color: #FFFFFF;
    background-color: transparent;
   
  }

  

/*
::ng-deep .mat-tab-label.mat-tab-label-active {
    min-width: 40px !important;
    padding: 30px;
    background-color: transparent;
    color: #FFFFFF;
    font-weight: 3000;
}
*/

/* Styles for the ink bar */
::ng-deep .mat-ink-bar {
  background-color:#EFC862 !important;
  
}

  
.form1{
  padding-bottom: 30px;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
  
 .form{
   width: 50%;
   position: relative;
   height: 50px;

 }

 .form input{
   width: 100%;
   height: 100%;
   color: #595f6e;
   padding-top: 20px;
   border: none;
  }

  .form label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;

  }

  html{
    background: linear-gradient(to bottom, #313132 100%, #161618 100%);
  }
  
  