<html>
<section class="header-container">
<section class="navbar">

  <div class="example-label"></div>
  <div class="example-button-row navbar-fixed-top" style="background: linear-gradient(to bottom, #313132 100%, #161618 100%);">
    <button mat-button>Home</button>
    <button mat-button color="primary">Tutorial</button>
    <button mat-button color="accent">Leaderboard</button>
    <button mat-button color="warn">Contact</button>
    <a mat-button href="https://www.google.com/" target="_blank">About</a>
    <div style="position: fixed; left: 1156px; top: 240px;font-size: 80px; color: #FFFF;font-family: PT Sans;">
      Carrier
       </div>
      <svg class="Line_1_bd" viewBox="0 0 3 1079.5">
			<path id="Line_1_bd" d="M 3 0 L 0 1079.5">
			</path>
		</svg>

    <svg class="Line_9_bhk" viewBox="0 0 244.5 1">
      <path id="Line_9_bhk" d="M 0 0 L 244.5 1">
      </path>
    </svg>

  </div>

  <div id="VersionLayer_OPTIONAL_bd">
		<div id="ID01_bed">
			<span>/01</span>
		</div>
		<svg class="Line_3_bea" viewBox="0 0 278 1">
			<path id="Line_3_bea" d="M 0 0 L 278 1">
			</path>
		</svg>
		<svg class="Line_4_beb" viewBox="0 0 7.5 1">
			<path id="Line_4_beb" d="M 0 0 L 7.5 0">
			</path>
		</svg>
		<div id="The_seagoing_airbase_bec">
			<span>The seagoing aribase</span>
		</div>
		<div id="ID01_bed">
			<span>/01</span>
		</div>
		<svg class="Line_7_bee" viewBox="0 0 278 1">
			<path id="Line_7_bee" d="M 0 0 L 278 1">
			</path>
		</svg>
		<svg class="Line_8_bef" viewBox="0 0 7.5 1">
			<path id="Line_8_bef" d="M 0 0 L 7.5 0">
			</path>
		</svg>
	</div>

  <section class="image_1">
    <img src="{{logo}}" alt="">
  </section>

	<div class="tabright">
    <mat-tab-group dynamicHeight style="width: 320px;">

      <mat-tab label="SIGN IN">
        
        <div *ngIf="!isSignedIn" id="signin-credentials">
            
          <mat-form-field id="mat-form-field-signin-email" style="width: 100%;"> 
            <mat-label style="color: #999999; font-size: 16px;">Email</mat-label>
            <input matInput id="signin-credentials-email" type="text" style="color: #999999; font-size: 16px;" 
            placeholder="pat@example.com" [formControl]="email" required #emailSignin/>
            <mat-error *ngIf="email.invalid" style="font-size: 16px;">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>

          <mat-form-field id="mat-form-field-signin-password" style="width: 100%;">
            <mat-label style="color: #999999; font-size: 16px;">Enter your password</mat-label>
            <input matInput id ="signin-credentials-password" style="color: #999999; font-size: 16px;"
            #password [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide"
             [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon style="color: #999999;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <!--Router-->
          <mat-hint allign="end">
          
            <!--Functionalitate neadaugata momentan-->
           <button mat-button style="color: #EFC862;">Reset password</button> 
            
          </mat-hint>

          <button (click)="onSignin(email.value,password.value)" class="signup-signin-btn">Sign in</button>
        </div>
        <app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>
      </mat-tab>

      <mat-tab label="SIGN UP"> 

        <div *ngIf="!isSignedIn" id="signup-credentials">
        
          <mat-form-field id="mat-form-field-signup-email" style="width: 100%;"> 
            <mat-label style="color: #999999; font-size: 16px;">Email</mat-label>
            <input matInput id="signup-credentials-email" type="text" style="color: #999999; font-size: 16px;" 
            placeholder="pat@example.com" [formControl]="email" required #emailSignup/>
            <mat-error *ngIf="email.invalid" style="font-size: 16px;">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
          
          <mat-form-field id="mat-form-field-signup-password" style="width: 100%;"> 
            <mat-label style="color: #999999; font-size: 16px;">Enter your password</mat-label>

            <input matInput id="signup-credentials-password" type="text" style="color: #999999; font-size: 16px;" 
            #passwordSignup required [type]="hide ? 'password' : 'text'">
             
            <button mat-icon-button matSuffix (click)="hide = !hide"
             [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon style="color: #999999;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
           
          <button (click)="onSignup(emailSignup.value,passwordSignup.value)" class="signup-signin-btn">Sign up</button>
        
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>


  <section class="button-login">
	<div class="example-button-row1">

    
    <hr>
        

    <mat-tab-group dynamicHeight style="width: 320px;">
      <mat-tab label="SIGN IN"> 	
        <div class="form1">
          <div class="form">
            <input type="text" name="name" autocomplete="off" required />
            <label for="name" class="label-name">
              <span class="content-name">Nickname</span>
            </label>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="SIGN UP">
        content2
      </mat-tab>
    </mat-tab-group>

  </div>
  </section>

</section>
</section>
</html>
