<html>
<section class="header-container">
<section class="navbar">
  
  <div class="example-label"></div>
  <div class="example-button-row navbar-fixed-top" style="background: linear-gradient(to bottom, #313132 100%, #161618 100%);">
    <button mat-button>Home</button>
    <button mat-button color="primary">Tutorial</button>
    <button mat-button color="accent">Leaderboard</button>
    <button mat-button color="warn">Contact</button>
    <a mat-button href="https://www.google.com/" target="_blank">About</a>
    <div style="position: fixed; left: 1156px; top: 240px;font-size: 80px; color: #FFFF;font-family: PT Sans;">
      Carrier
       </div>
      <svg class="Line_1_bd" viewBox="0 0 3 1079.5">
			<path id="Line_1_bd" d="M 3 0 L 0 1079.5">
			</path>
		</svg>

    <svg class="Line_9_bhk" viewBox="0 0 244.5 1">
      <path id="Line_9_bhk" d="M 0 0 L 244.5 1">
      </path>
    </svg>

  </div>
  <!--Pentru partea cu-->
  <div id="VersionLayer_OPTIONAL_bd">
		<div id="ID01_bed">
			<span>/01</span>
		</div>
		<svg class="Line_3_bea" viewBox="0 0 278 1">
			<path id="Line_3_bea" d="M 0 0 L 278 1">
			</path>
		</svg>
		<svg class="Line_4_beb" viewBox="0 0 7.5 1">
			<path id="Line_4_beb" d="M 0 0 L 7.5 0">
			</path>
		</svg>
		<div id="The_seagoing_airbase_bec">
			<span>The seagoing aribase</span>
		</div>
		<div id="ID01_bed">
			<span>/01</span>
		</div>
		<svg class="Line_7_bee" viewBox="0 0 278 1">
			<path id="Line_7_bee" d="M 0 0 L 278 1">
			</path>
		</svg>
		<svg class="Line_8_bef" viewBox="0 0 7.5 1">
			<path id="Line_8_bef" d="M 0 0 L 7.5 0">
			</path>
		</svg>
	</div>
  
  <mat-tab-group>
    <mat-tab label="SIGN IN"> SIGN IN </mat-tab>
    <mat-tab label="SIGN UP"> SIGN UP </mat-tab>
  </mat-tab-group>

  <section class="image_1">
    <img src="{{logo}}">
  </section>

</section>


</section>
</html>
