<!--"BATTLESHIP" logo-->
<!--<img class="tutorial-logo" src="../assets/images/imageedit.png">-->
 <svg class="selection-menu-background">
   <rect id="selection-menu-background" rx="0" ry="0" x="0" y="0" width="454" height="724">
   </rect>
 </svg>

 <!--Vertical line between logo & button menu and rest of content-->
 <svg id="Line_1_bd_tutorial_svg" d="0 0 3 1079.5"
 style="
    overflow: visible;
    position: absolute;
    width: 4px;
    height: 1079.503px;
    margin-left: 454px !important;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
 ">
   <path id="Line_1_bd_tutorial" d="M 0 0 L 0 1079.5"
   style="
    margin-left: 725px !important;
    margin-top: 0.5px;
    display: inline-block;
    fill: transparent;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
   "
   >
   </path>
 </svg>

 <!--LEAVE THIS BUTTON HERE! OTHERWISE, THE PAGE BREAKS-->
 <button mat-button></button>

 <!--Buttons menu-->
 <button mat-button 
 id="the-grid-btn" 
 class="tutorial-section-btn"
 (click)="switchToGrid()"
 >THE GRID</button>
 <button mat-button
 id="the-ships-btn"
 class="tutorial-section-btn"
 (click)="switchToShips()"
 >THE SHIPS</button>
 <button mat-button 
 id="ship-placement-btn"
 class="tutorial-section-btn"
 (click)="switchToShipPlacement()"
 >SHIP PLACEMENT</button>
 <button mat-button 
 id="gameplay-btn" 
 class="tutorial-section-btn"
 (click)="switchToGameplay()"
 >GAMEPLAY</button>

<!--Content for each button-->
<div id="tutorial-thegrid-content"
*ngIf="onGrid" style="z-index: 1;">
  <!--The grid itself-->
  <mat-grid-list id="grid" cols="11" rowHeight="83px">
    <!--1st row-->
    <mat-grid-tile></mat-grid-tile>  
    <mat-grid-tile><span class="grid-head">A</span></mat-grid-tile>
    <mat-grid-tile><span class="grid-head">B</span></mat-grid-tile>
    <mat-grid-tile><span class="grid-head">C</span></mat-grid-tile>
    <mat-grid-tile><span class="grid-head">D</span></mat-grid-tile>
    <mat-grid-tile><span class="grid-head">E</span></mat-grid-tile>
    <mat-grid-tile><span class="grid-head">F</span></mat-grid-tile>
    <mat-grid-tile><span class="grid-head">G</span></mat-grid-tile>
    <mat-grid-tile><span class="grid-head">H</span></mat-grid-tile>
    <mat-grid-tile><span class="grid-head">I</span></mat-grid-tile>
    <mat-grid-tile><span class="grid-head">J</span></mat-grid-tile>
    <!--2nd row-->
    <mat-grid-tile><span class="grid-head">1</span></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <!--3rd row-->
    <mat-grid-tile><span class="grid-head">2</span></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <!--4th row-->
    <mat-grid-tile><span class="grid-head">3</span></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <!--5th row-->
    <mat-grid-tile><span class="grid-head">4</span></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <!--6th row-->
    <mat-grid-tile><span class="grid-head">5</span></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <!--7th row-->
    <mat-grid-tile><span class="grid-head">6</span></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <!--8th row-->
    <mat-grid-tile><span class="grid-head">7</span></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <!--9th row-->
    <mat-grid-tile><span class="grid-head">8</span></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <!--10th row-->
    <mat-grid-tile><span class="grid-head">9</span></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <!--11th row-->
    <mat-grid-tile><span class="grid-head">10</span></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
</div>

<div id="tutorial-theships-content"
*ngIf="onShips" style="z-index: 2; position: relative;">
  <mat-grid-list id="#ships" cols="5" rowHeight="1:1">

    <!--Ship images-->
    <mat-grid-tile><span class="grid-img">
      <img src="../../../assets/images/Carrier-IMG_tk.png">
    </span></mat-grid-tile>
    <mat-grid-tile><span class="grid-img">
      <img src="../../../assets/images/Battleship-IMG_tj.png">
    </span></mat-grid-tile>
    <mat-grid-tile><span class="grid-img">
      <img src="../../../assets/images/Cruiser-IMG_tl.png">
    </span></mat-grid-tile>
    <mat-grid-tile><span class="grid-img">
      <img src="../../../assets/images/Submarine-IMG_tm.png">
    </span></mat-grid-tile>
    <mat-grid-tile><span class="grid-img">
      <img src="../../../assets/images/Destroyer-IMG_tn.png">
    </span></mat-grid-tile>
    <!--Ship name-->
    <mat-grid-tile><span class="grid-text">
      Carrier
    </span></mat-grid-tile>
    <mat-grid-tile><span class="grid-text">
      Battleship
    </span></mat-grid-tile>
    <mat-grid-tile><span class="grid-text">
      Cruiser
    </span></mat-grid-tile>
    <mat-grid-tile><span class="grid-text">
      Submarine
    </span></mat-grid-tile>
    <mat-grid-tile><span class="grid-text">
      Destroyer
    </span></mat-grid-tile>
    <!--Number of occupied squares-->
    <mat-grid-tile><span class="grid-text">
      5 squares
    </span></mat-grid-tile>
    <mat-grid-tile><span class="grid-text">
      4 squares</span></mat-grid-tile>
    <mat-grid-tile><span class="grid-text">
      3 squares</span></mat-grid-tile>
    <mat-grid-tile><span class="grid-text">
      3 squares</span></mat-grid-tile>
    <mat-grid-tile><span class="grid-text">
      2 squares</span></mat-grid-tile>
  </mat-grid-list>
</div>
 
<div class="tutorial-section-content" id="ship-placement-content"
*ngIf="onShipPlacement" style="z-index: 3; position: relative; color: white;">
  <!--The 2 side ships-->
  <div class="ship-placement-content-div"
  id="ship-placement-content-ships">
    <span style="font-family: Source Han Sans JP; font-size: 30px;
    margin-left: 35%;"
    >SHIPS</span>
    <img style="display: block; margin-left: 24%; margin-top: 80px;"
     src="../../../assets/images/Destroyer-IMG_ry.png">
    <img style="display: block;"
     src="../../../assets/images/Carrier-IMG_sj.png">
  </div>

  <!--The text-->
  <div class="ship-placement-content-div"
  id="ship-placement-content-text">

    <span class="text-title" style="
    color: rgba(239,200,98,1);">
    DRAG-A-SHIP</span>
    <span class="text-portion">
      You can drag a model from the "SHIPS" section (Hold) and place it horizontally or vertically on the grid, between two line/ column delimiters.<br><br>After placement, a ship can still be re-placed and rotated, by pressing the rotate (<mat-icon style="color: rgba(239,200,98,1);">rotate_90_degrees_ccw</mat-icon>) button.  
    </span> <!--svg icon in here-->
    <span class="text-title" style="
    color: rgba(239,200,98,1); margin-top: 50px;">SHIP ROTATION</span>
    <span class="text-portion">
      HORIZONTAL -> VERTICAL:<br>Ax: left-most square;<br>Direction: 90 degrees clockwise.<br><br>VERTICAL -> HORIZONTAL:<br>Ax: upper-most square;<br>Direction: 90 degrees counter-clockwise
    </span>
    <span class="text-title" style=
    "color: rgba(248,130,130,1); margin-top: 50px;">NOT PERMITTED</span>
    <span class="text-portion">
      Diagonal, on-the-delimiters, or out-of-bounds placement will automatically place the model back in the "SHIPS" section.<br><br>The rule also applies on the result of a rotation<br>(say, in the upper grid, the bottom line is nr. 10, and you want to rotate the horizontal Carrier, the new placement will not be accepted).
    </span>
  </div>

  <!--The 2 arrow icons-->
  <div class="ship-placement-content-div"
  id="ship-placement-content-arrows">
    <mat-icon
    style="color: rgba(239,200,98,1); font-size: 150px; margin-top: 50px;">arrow_forward</mat-icon>
    <mat-icon 
    style="color: rgba(248,130,130,1); font-size: 150px; display: block; margin-top: 400px;">arrow_forward</mat-icon>
  </div>

  <!--The 2 images that show the correct/incorrect ship placement-->
  <div class="ship-placement-content-div"
  id="ship-placement-content-imgs">
    <img src="../../../assets/images/correct_ship_placement.png"
    style="margin-top: -150px;">
    <img src="../../../assets/images/incorrect_ship_placement.png"
    style="display: block; margin-top: 10px;">
  </div>
</div>

<div class="tutorial-section-content"
id="gameplay-content" 
*ngIf="onGameplay"
style="z-index: 4; position: relative;">
  <span class="text-title" style="margin-top: 100px; color:gold;">TURN SYSTEM</span>

  <span>
  This game is a turn-based strategy (TBS). This means that you and your opponent will take turns. A turn will end when the player presses the ("END TURN") button, or when 60 seconds have passed.
  </span>

  <span class="text-title" style="margin-top: 100px; color:gold;">HIT-OR-MISS</span>

  <span>
  A player's goal is to sink all the opposing ships. A ship sinks when all the squares it is placed on are HIT. 
  During its turn, a player can <span style="color: gold; font-weight: bold;">mark a square on the opponent's grid</span> (it will be colored in yellow). When the turn ends, the color of the square changes: if <span style="color: red; font-weight: bold;">part of a ship is placed on that square</span>, that square will be colored in red, and marked with an <span style="color: red; font-weight: bold;">X</span>. However, <span style="color: blue; font-weight: bold;">if that square is empty</span>, it will be recolored in blue.

  NOTE: A player's ships are only visible TO THAT PLAYER.
  </span>

  <span class="text-title" style="margin-top: 100px; color:gold;">ENDGAME</span>

  <span>
  The game ends when all your opponent's occupied squares are HIT; afterwards, you will be declared WINNER (or if you fail, the game will call you a LOSER), and you will return to the main menu, where you can see you wins and losses.
  </span>
</div>


